.catalog-form {
  div  {
    display: flex;
    width: auto;
    max-width: 600px;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  label {
    width: 30%;
  }
  input {
    width: 70%;
  }
}
.grocery-form {
  div  {
    display: flex;
    width: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  label {
    width: 30%;
  }
  .aisle-label {
    width: 17%;
    margin-left: 20px;
  }
  .aisle-input {
    width: 10%;
  }
}